# Knowledge is Power: Predicting Solar Energy in Time and Space

Fall, 2018

John Leyden

Jack Sullivan

## Basic Project Requirements (delete this markdown cell in your final submission)

**How to use this notebook**:  This notebook is the template for your semester project.  Each markdown cell provides instructions on what to do in order to do a successful project.  The cell you're reading right now is the only one you can delete from what you eventually hand in.  For the other cells:
1. You may replace the instructions in each cell with your own work but do not edit the cell titles (with the exception of the project title, above).  
2. Follow the instructions in each section carefully.  For some sections you will enter only markdown text in the existing cells. For other sections, you'll accompany the markdown cells with additional code cells, and perhaps more markdown, before moving on to the next section.  

**Grading**.  You'll see point allocations listed in each of the section titles below.  In addition, there are other categories for points: 
1. Visualization (10 points).  Well organized plots and legible plots get high points, as do beautiful and innovative plots.  
2. Clarity (5 points). Note that clarity also supports points elsewhere, because if we can't understand what you're explaining, we'll assume you didn't understand what you were doing and give points accordingly!  

For each Section or Category, we will give points according to the following percentage scale:
1. More than 90%:  work that is free of anything but superficial mistakes, and demonstrates creativity and / or a very deep understanding of what you are doing.
2. 80-90%: work without fundamental errors and demonstrates a basic understanding of what you're doing.
3. 60-80%: work with fundamental flaws in the analysis and / or conveys that you do not understand the basics of the work you are trying to do.
4. Below 60%: Work that is severely lacking or incomplete.  

Note that we distinguish *mistakes* from *"my idea didn't work"*.  Sometimes you don't know if you can actually do the thing you're trying to do and as you dig in you find that you can't.  That doesn't necessarily mean you made a mistake; it might just mean you needed more information.  We'll still give  high marks to ambitious projects that "fail" at their stated objective, as long as that objective was clear and you understood what you were doing.  

**Advice on working in groups:**  We encourage group work.  However to create a level playing field for groups with varying size, we have the following requirements:
1. Projects must have at least one distinct quantitative question per student in the group.  Questions can and should be related, but they need to require distinct work efforts, and the interpretation and analysis should cover each question in detail.  If you have any doubt about whether your questions are distinct, consult with the instructors.
2. We use a sliding data requirements scale, see below.

**Data requirements**:  Projects must use data from a minimum of $1+N_s$ different sources, where $N_s$ is the number of students in the group.  You should merge at least two data sets.  

**Advice on Project Topics**:  We want you to do a project that relates to energy and environment topics.  However this is not a hard requirement.

**Suggested data sets**:  These are just some ideas for starting points.  You can definitely bring your own data to the table!
1. [Purple Air](https://www.purpleair.com) (suprise!).  Instructions on how to download PurpleAir data are [here](https://docs.google.com/document/d/15ijz94dXJ-YAZLi9iZ_RaBwrZ4KtYeCy08goGBwnbCU/edit).
2. California Enviroscreen database.  Available [here].(https://oehha.ca.gov/calenviroscreen/report/calenviroscreen-30) 
3. Several data sets available from the UC Irvine machine learning library:
    1. [Forest Fires](https://archive.ics.uci.edu/ml/datasets/Forest+Fires)
    4. [Climate](https://archive.ics.uci.edu/ml/datasets/Greenhouse+Gas+Observing+Network)
    5. [Ozone](https://archive.ics.uci.edu/ml/datasets/Ozone+Level+Detection)
4. California Solar Initiative data (installed rooftop solar systems).  Available [here](https://www.californiasolarstatistics.ca.gov/data_downloads/).
5. World Bank Open Data, available [here](https://data.worldbank.org).
6. California ISO monitored emissions data, [here](http://www.caiso.com/TodaysOutlook/Pages/Emissions.aspx).

**Dates**:
You have three due dates:
1. November 19, in lab.  In this lab you'll be expected to have formed groups (if you wish), identified your data sources, done preliminary exploratory data analysis, and decided on a forecasting question.  The instructors will circulate through the room and discuss your progress on the project.  Your progress will constitute part of your grade for that week's lab. 
2. Novbember 26, in lab.  In this lab you'll be expected to have done some initial forecasting work: build and fit a model, test its accuracy, plot its performance.
3. December 11, 6pm: This is when your final project is due.  You will submit your notebook and data to bCourses or GitHub (to be determined).  

Ok, now on to the project!

## Abstract (5 points)
Although this section comes first, you'll write it last.  It should be a ~250 word summary of your project.  1/3rd of the abstract should provide background, 1/3rd should explain what you did, and 1/3rd should explain what you learned.

## Project Background (5 points)
In this section you will describe relevant background for your project.  It should give enough information that a non-expert can understand in detail the history and / or context of the system or setting you wish to study, the need for quantitative analysis, and, broadly, what impact a quantitative analyses could have on the system.  Shoot for 500 words here.

## Project Question (5 points)
In this section you will pose the central question or questions for your semester project.  Questions should be extremely clear, well-defined and answerable with a numeric value or TRUE / FALSE answer.  If you seek to make a TRUE / FALSE decision, you must clearly state a priori what quantitative criteria you'll use to make that decision.  

You should reflect here on why it's important to answer these questions.  In most cases this will mean that you'll frame the answers to your questions as informing one or more *resource allocation* problems.  If you have done a good job of providing project background (in the cell above) then this reflection will be short and easy to write.

**Comment on novelty:** You may find it hard to identify a project question that has *never* been answered before.  It's ok if you take inspiration from existing analyses.  However you shouldn't exactly reproduce someone else's analysis.  If you take inspiration from another analyses, you should still use different models, different data, and so on.

## Input Data Description (5 points)
Here you will provide an initial description of your data sets, including:
1. The origins of your data.  Where did you get the data?  How were the data collected from the original sources?
2. The structure, granularity, scope, temporality and faithfulness (SGSTF) of your data.  To discuss these attributes you should load the data into one or more data frames (so you'll start building code cells for the first time).  At a minimum, use some basic methods (`.head`, `.loc`, and so on) to provide support for the descriptions you provide for SGSTF. 

[Chapter 5](https://www.textbook.ds100.org/ch/05/eda_intro.html) of the DS100 textbook might be helpful for you in this section.

## 1. Observed Insolation
### National Solar Radiation Database, National Renewable Energy Laboratory (NREL)
The NSRDB is a free collection of datasets containing meteorological and solar irradience data. This database supports programs for the U.S. Department of Energy, research, and the general public. NREL's physical solar models are constructed from stations that sense solar irradience, which is our target variable. The stations are located throughout the U.S. 

<img src="./images/map.png" alt="map" width="500"/>

The data can be accessed [here](https://rredc.nrel.gov/solar/old_data/nsrdb/1991-2010/). After downloading stations in the tri-state area, we read them from a csv:

In [1]:
import pandas as pd

# Read in Newark Airport data for 2010
ewr_2010 = pd.read_csv('./data/station_solar/NSRDB_StationData_19910101_20101231_725020/NSRDB_StationData_20100101_20101231_725020.csv')
ewr_2010.head()

,YYYY-MM-DD,HH:MM (LST),Zenith (deg),Azimuth (deg),ETR (Wh/m^2),ETRN (Wh/m^2),Glo Mod (Wh/m^2),Glo Mod Unc (%),Glo Mod Source,Dir Mod (Wh/m^2),...,Ceil Hgt (m),Ceil Hgt Flg,Liq Precip Depth (mm),Liq Precip Depth Flg,Liq Precip Quantity (hours),Liq Precip Quantity Flg,Precip Wat (cm),Precip Wat Flg,AOD (unitless),AOD Flg
0,2010-01-01,1:00,99.0,-99.0,0,0,0,0,2,0,...,213,5,3,1,6,99,1.5,3,0.088,1
1,2010-01-01,2:00,99.0,-99.0,0,0,0,0,2,0,...,213,5,0,5,1,99,1.5,51,0.088,1
2,2010-01-01,3:00,99.0,-99.0,0,0,0,0,2,0,...,213,5,0,5,1,99,1.5,51,0.088,1
3,2010-01-01,4:00,99.0,-99.0,0,0,0,0,2,0,...,213,5,0,5,1,99,1.5,3,0.088,1
4,2010-01-01,5:00,99.0,-99.0,0,0,0,0,2,0,...,152,5,0,5,1,99,1.4,51,0.088,1

Success! We've found our target variable: **Glo Mod (Wh/m^2)**. NREL describes this as *"Total amount of direct and diffuse solar radiation received on a horizontal surface during the 60-minute period ending at the timestamp"*

**Structure:** For each chosen station, we download a directory of Comma Seperated Files, one file for each year from 1990-2010. 

**Granularity:** The temporal granularity is one hour, and the spatial granularity is latitude/longitude to four decimal places.

**Scope:** The temporal scope is 1990-2010. The spatial scope is every point on the map pictured above. We choose 5 class 1 stations in the New York City area for our first question. We choose 11 class 1 & 2 stations in the New York City area for our second question.

**Temporality:** There is one column for day in YYYY-MM-DD format. For each date, there are 24 rows (one for each hour) represented in HH:MM format.

**Faithfullness:** According to the NSRDB User Manual (linked below), the class 1 stations that we use are 100% certain for years 2006-2010. Class 2 stations have slightly less certainty. In general, we consider NSRDB reliable because they are used by various government and research institutions, including the US Department of Energy, Solar Consulting Services, the University of Oregon, and the University of Wisconsin. Also, we re-affirm faithfullness with sanity-check visualizations, which can be seen in the visualization section.

More information about NSRDB can be found in the user manual [here](https://www.nrel.gov/docs/fy12osti/54824.pdf)

In [2]:
import matplotlib.pyplot as plt

# One sanity check
plt.figure(figsize=(8, 5))
all_noons = ewr_2010[ewr_2010['HH:MM (LST)'] == '12:00']
plt.scatter(range(len(all_noons)), all_noons['Glo Mod (Wh/m^2)'])
plt.ylabel('Irradience at Noon')
plt.xlabel('Day of Year');
plt.title('Sanity Check');

The point-wise maximum of the scatterplot follows the pattern of summer and winter sunlight. We also observe that there is variation below the point-wise maximum, likeley due to weather or air quality variation.

## 2. Historical and Forecasted Weather
### Dark Sky API, Dark Sky Company, LLC.

The Dark Sky API is a free REST API that provides weather data for any lat/lon in the US for a given day. We use the Time Machine Request, with this description: *A Time Machine Request returns the observed (in the past) or forecasted (in the future) hour-by-hour weather and daily weather conditions for a particular date. * ([Documentation](https://darksky.net/dev/docs#time-machine-request))

We create a function using the python library `requests` to gather the data. Then, we use `pd.DataFrame` to transorm the JSON into a dataframe.

In [3]:
import requests

def get_epoch(timestamp_str, tz='US/Pacific'):
    ts = pd.Timestamp(timestamp_str,  tz=tz)
    return int(ts.value / (1*10**9))

def get_hourly_weather(lat, lon, timestamp_str, tz='US/Pacific', key='c75fe89710b37b9fd1531010a8968ef1'):
    base_url = 'https://api.darksky.net/forecast/' + key + '/'
    with_location = base_url + str(lat) + ',' + str(lon)
    epoch = get_epoch(timestamp_str, tz)
    with_time = with_location + ',' + str(epoch)
    resp = requests.get(with_time)
    if resp.status_code != 200:
        raise RuntimeError('API call errored with code: ' + resp.status_code)
    data_dict = resp.json()
    daterange = pd.date_range(timestamp_str, periods=24, freq='1H')
    df = pd.DataFrame(data_dict['hourly']['data'])
    df.index = daterange
    df = df.drop(columns=['time'])
    return df

# Lets look at EWR on December 1, 2018
lat = 40.717
lon = -74.183
timestamp_str = "2018-12-01 00:00:00"
tz = 'US/Eastern'
ewr_weather = get_hourly_weather(lat, lon, timestamp_str, tz)
ewr_weather.head()

,apparentTemperature,cloudCover,dewPoint,humidity,icon,ozone,precipIntensity,precipProbability,precipType,pressure,summary,temperature,uvIndex,visibility,windBearing,windGust,windSpeed
2018-12-01 00:00:00,39.33,1.00,34.64,0.83,cloudy,269.43,0.0,0.0,NaN,1019.78,Overcast,39.33,0,10.00,319,2.68,2.43
2018-12-01 01:00:00,39.15,0.99,34.33,0.83,cloudy,268.30,0.0,0.0,NaN,1019.89,Overcast,39.15,0,10.00,334,2.49,2.33
2018-12-01 02:00:00,38.07,0.73,33.80,0.84,partly-cloudy-night,267.89,0.0,0.0,NaN,1020.16,Mostly Cloudy,38.07,0,9.54,352,2.28,2.04
2018-12-01 03:00:00,36.94,0.23,32.58,0.84,clear-night,267.75,0.0,0.0,NaN,1020.20,Clear,36.94,0,8.86,349,2.34,2.00
2018-12-01 04:00:00,35.65,0.05,31.68,0.85,clear-night,267.64,0.0,0.0,NaN,1020.53,Clear,35.65,0,8.64,357,2.18,1.54

**Structure:** The response is JSON, including a list of hourly data that contains fields like `cloudCover` and `humidity`. The entire json response example can be seen [here](https://darksky.net/dev/docs#time-machine-request).

**Granularity:** The temporal granularity is one hour, and the spatial granularity is latitude/longitude to 3 decimal places.

**Scope:** The temporal scope covers at least as early as 1990 for all locations. The spatial scope is global. However, the website says *Historical data availability varies depending on whether we have access to weather station data for a given place and time*

**Temporality:** The time is recorded in `epoch`, which is defined as *seconds after Thursday, Jan 1, 1970*

**Faithfullness:** Darksky is used by a variety of reputable organizations, including Microsoft, Yelp, and the Caltech Jet Propulsion Laboratory. It also uses reliable sources for data, such as NOAA and [others](https://darksky.net/dev/docs/sources). We will cross-reference with Accuweather below:

In [4]:
# Cross-referece 
max(ewr_weather['temperature'])

44.82

According to [AccuWeather](https://www.accuweather.com/en/us/newark-nj/07102/december-weather/349530), the max temp for Dec. 1 was 46 degrees! Pretty close!

## 3. Modeled Direct Sunlight
### Pysolar, pingswept et. al.

## 4. Modeled Global Horizontal Sunlight
### Physical Solar Model, National Renewable Energy Laboratory (NREL)

## Data Cleaning (10 points)
In this section you will walk through the data cleaning and merging process.  Explain how you make decisions to clean and merge the data.  Explain how you convince yourself that the data don't contain problems that will limit your ability to produce a meaningful analysis from them.  

[Chapter 4](https://www.textbook.ds100.org/ch/04/cleaning_intro.html) of the DS100 textbook might be helpful to you in this section.

## Observed Insolation

In order to have our solar data in a useable and mergable state, we need to pull it in, and preprocess the solar data. We first pull in the data with ```get_raw_solar_df(location_id)``` from the ```data/station_solar/``` directory that has all of the raw solar station data. The raw data has a file for each year, so we concatenate the data from the years of 2006-2010 into one dataframe.

In [28]:
def get_raw_solar_df(location_id):
    df = pd.DataFrame()
    for year in range(2006, 2011):
        year_df = pd.read_csv("data/station_solar/NSRDB_StationData_19910101_20101231_" + str(location_id) +"/NSRDB_StationData_" + str(year) +"0101_" + str(year) +"1231_" + str(location_id) +".csv")
        df = pd.concat([df, year_df])
    return df

Let's use newark as our example again and check the head of the dataframe.

In [29]:
newark_df = get_raw_solar_df(725020)
newark_df.head()

,YYYY-MM-DD,HH:MM (LST),Zenith (deg),Azimuth (deg),ETR (Wh/m^2),ETRN (Wh/m^2),Glo Mod (Wh/m^2),Glo Mod Unc (%),Glo Mod Source,Dir Mod (Wh/m^2),...,Ceil Hgt (m),Ceil Hgt Flg,Liq Precip Depth (mm),Liq Precip Depth Flg,Liq Precip Quantity (hours),Liq Precip Quantity Flg,Precip Wat (cm),Precip Wat Flg,AOD (unitless),AOD Flg
0,2006-01-01,1:00,99.0,-99.0,0,0,0,0,2,0,...,22000,1,0,5,1,99,1.2,3,0.088,1
1,2006-01-01,2:00,99.0,-99.0,0,0,0,0,2,0,...,4572,5,0,5,1,99,1.2,51,0.088,1
2,2006-01-01,3:00,99.0,-99.0,0,0,0,0,2,0,...,22000,5,0,5,1,99,1.1,51,0.088,1
3,2006-01-01,4:00,99.0,-99.0,0,0,0,0,2,0,...,1219,5,0,5,1,99,1.1,3,0.088,1
4,2006-01-01,5:00,99.0,-99.0,0,0,0,0,2,0,...,1158,5,0,5,1,99,1.1,51,0.088,1

Looking at the columns, we only want to keep the ```'YYYY-MM-DD', 'HH:MM (LST)', 'Glo Mod (Wh/m^2)'``` columns as we will get weather data from a separate source.

In [30]:
newark_df.columns

Index(['YYYY-MM-DD', 'HH:MM (LST)', 'Zenith (deg)', 'Azimuth (deg)',
       'ETR (Wh/m^2)', 'ETRN (Wh/m^2)', 'Glo Mod (Wh/m^2)', 'Glo Mod Unc (%)',
       'Glo Mod Source', 'Dir Mod (Wh/m^2)', 'Dir Mod Unc (%)',
       'Dir Mod Source', 'Dif Mod (Wh/m^2)', 'Dif Mod Unc (%)',
       'Dif Mod Source', 'Meas Glo (Wh/m^2)', 'Meas Glo Flg',
       'Meas Dir (Wh/m^2)', 'Meas Dir Flg', 'Meas Dif (Wh/m^2)',
       'Meas Dif Flg', 'TotCC (10ths)', 'TotCC Flg', 'OpqCC (10ths)',
       'OpqCC Flg', 'Dry Bulb (C)', 'Dry Bulb Flg', 'Dew Pnt (C)',
       'Dew Pnt Flg', 'Rel Hum (%)', 'Rel Hum Flg', 'Baro Press (mbar)',
       'Baro Press Flg', 'Wind Speed (m/s)', 'Wind Speed Flg',
       'Wind Dir (deg)', 'Wind Dir Flg', 'Hor Vis (m)', 'Hor Vis Flg',
       'Ceil Hgt (m)', 'Ceil Hgt Flg', 'Liq Precip Depth (mm)',
       'Liq Precip Depth Flg', 'Liq Precip Quantity (hours)',
       'Liq Precip Quantity Flg', 'Precip Wat (cm)', 'Precip Wat Flg',
       'AOD (unitless)', 'AOD Flg'],
      dtype='object')

We want to filter out the features we do not need and also want make the dataframe index timestamps so we can merge with the other data sources down the road. 

Also we noticed that timestamps ranged from 1:00 to 24:59 instead of the conventional 00:00 to 23:59. We shifted these hours one hour to match the conventional approach and verified this in the **Timestamp Hour Sanity Check** Section of ```collect_data.ipynb```.

In [31]:
def filter_feats(df):
    return df.loc[:, ['YYYY-MM-DD', 'HH:MM (LST)', 'Glo Mod (Wh/m^2)' ]]

def make_timestamp_str(row):
    if str(row['HH:MM (LST)']) == '24:00':
        string = str(pd.to_datetime(row['YYYY-MM-DD']) + pd.DateOffset(1))
    else:
        string = str(row['YYYY-MM-DD']) + ' ' + str(row['HH:MM (LST)'])
    return str(pd.to_datetime(string))

def apply_timestamps_to_index(df):
    df.index = df.apply(make_timestamp_str, axis=1)
    return df

def preprocess(df):
    df = filter_feats(df)
    df = apply_timestamps_to_index(df)
    df.drop(['YYYY-MM-DD', 'HH:MM (LST)'], axis=1, inplace=True)
    df = df.iloc[23:-1]
    return df

In [32]:
newark_df = preprocess(newark_df)
newark_df.head(12)

                     Glo Mod (Wh/m^2)
2006-01-02 00:00:00                 0
2006-01-02 01:00:00                 0
2006-01-02 02:00:00                 0
2006-01-02 03:00:00                 0
2006-01-02 04:00:00                 0
2006-01-02 05:00:00                 0
2006-01-02 06:00:00                 0
2006-01-02 07:00:00                 0
2006-01-02 08:00:00                12
2006-01-02 09:00:00               140
2006-01-02 10:00:00               286
2006-01-02 11:00:00               372

We then pushed the filtered solar data to the ```data/solar_filtered``` directory, and the data is now ready to be merged!

Look at ```collect_data.ipynb``` to see more details and this process being done for multiple locations.

## 2. Historical and Forecasted Weather
### Dark Sky API, Dark Sky Company, LLC.

To get weather data, we need to make api calls, so we will include the function here but will load the data from the csv that was already generated.

In [35]:
newark_weather = pd.read_csv("data/weather/newark_weather.csv", index_col='Unnamed: 0')
newark_weather.head()

,apparentTemperature,cloudCover,dewPoint,humidity,icon,precipAccumulation,precipIntensity,precipProbability,precipType,pressure,summary,temperature,uvIndex,visibility,windBearing,windGust,windSpeed
2006-01-02 00:00:00,36.81,0.82,31.40,0.81,partly-cloudy-night,NaN,0.0,0.0,NaN,1022.75,Mostly Cloudy,36.81,0,10.00,246,1.86,1.75
2006-01-02 01:00:00,35.79,0.22,30.80,0.82,clear-night,NaN,0.0,0.0,NaN,1022.80,Clear,35.79,0,10.00,234,2.22,1.86
2006-01-02 02:00:00,35.67,0.32,30.43,0.81,partly-cloudy-night,NaN,0.0,0.0,NaN,1023.57,Partly Cloudy,35.67,0,10.00,216,2.01,1.55
2006-01-02 03:00:00,35.49,0.50,30.64,0.82,partly-cloudy-night,NaN,0.0,0.0,NaN,1023.57,Partly Cloudy,35.49,0,9.74,225,1.11,0.81
2006-01-02 04:00:00,35.66,0.88,31.25,0.84,partly-cloudy-night,NaN,0.0,0.0,NaN,1023.31,Mostly Cloudy,35.66,0,9.68,216,0.66,0.63

We want to drop the ```"precipAccumulation", "precipType", "windGust", "icon", "summary"``` columns as there are a good amount of NaN's and strings that will cause modeling problems later downstream.

Look at the **Pull in Weather Data by Location** section of ```collect_data.ipynb``` for the full code.

## Modeled Direct Sunlight

Similarly to weather data from Darksky, we used an external source to generate the data, in this case it was a library called ```pysolar```. We can get clear sky radiation deterministically given a latitude, longitude, timestamp, timezone, and altitude.

In [37]:
def get_clear_sky_radiation(lat, lon, timestamp_str, tz):
    dt = pd.to_datetime(timestamp_str)
    tz_aware = datetime.datetime(dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, 0, pytz.timezone('US/Eastern'))
    altitude = get_altitude(lat, lon, aware)
    watts_per_sq_meter = radiation.get_radiation_direct(tz_aware, altitude)
    return watts_per_sq_meter

This data source only would contain one column: ```'clear_sky'``` which would contain the deterministically predicted clear sky solar radiation.

## Modeled Global Horizontal Sunlight

Because we only use NREL data for our second question and for one location (the statue of liberty island), we download the data with a point query click from the web viewer and get global horizontal irradiance (ghi) every 30 mins for the years 2006-2010. Similar to the solar station data, there is a file for each year so we concatenate the dataframes for every year into one dataframe. Also, because the rest of our data is hourly, we first average the two ghi values for every hour in order to get Wh/m^2.

In [40]:
def get_nrel_data():
    df = pd.DataFrame()
    for year in range(2006, 2011):
        year_df = pd.read_csv("data/statue_of_lib_data/1242368_40.69_-74.06_" + str(year) + ".csv", skiprows=2)
        df = pd.concat([df, year_df])
    df = df.groupby(by=["Year", "Month", "Day", "Hour"]).mean().reset_index()
    df['Timestamp'] = df['Year'].astype(str) + "-" + df['Month'].astype(str).apply(lambda x: x.zfill(2)) + "-" + df['Day'].astype(str).apply(lambda x: x.zfill(2)) + " " + df['Hour'].astype(str).apply(lambda x: x.zfill(2)) + ":00:00" 
    df.set_index('Timestamp', inplace = True)
    df.drop(columns=["Year", "Month", "Day", "Hour", "Minute"], inplace=True)
    return df

stat_of_lib = get_nrel_data()
stat_of_lib.head(12)

                       GHI
Timestamp
2006-01-01 00:00:00    0.0
2006-01-01 01:00:00    0.0
2006-01-01 02:00:00    0.0
2006-01-01 03:00:00    0.0
2006-01-01 04:00:00    0.0
2006-01-01 05:00:00    0.0
2006-01-01 06:00:00    0.0
2006-01-01 07:00:00    0.0
2006-01-01 08:00:00   15.0
2006-01-01 09:00:00   48.5
2006-01-01 10:00:00  126.0
2006-01-01 11:00:00  125.5

## Merged Dataframe for Question 1

We use the below function to merge our dataframes for our first question. Our first question only depends on solar, weather, and estimated direct solar data in order to predict solar irradiance.

Our weather data is historical and forecasted weather data detailed above.


Our estimated direct solar data (pysolar) such as data from ```newark_pysolar.csv``` represents merged solar and pysolar data (which is solar data with the addition of an estimate of the modeled direct sunlight. 

We additionally calculate and include some features that could help with predicting solar irradiance. We calculate and include the solar irradiance of yesterday, the average solar irradiance of last week, and the median solar irradiance of last week.

In [42]:
def merge_loc(loc_name):
    weather = pd.read_csv('./data/weather/' + loc_name + '_weather.csv', index_col='Unnamed: 0')
    pysolar = pd.read_csv('./data/pysolar/' + loc_name + '_pysolar.csv', index_col='Unnamed: 0')
    pysolar = filter_feats(pysolar)
    pysolar['yesterday'] = pysolar["Glo Mod (Wh/m^2)"].shift(24).fillna(0)
    
    pysolar["avg_last_week"] = pysolar['yesterday']
    for i in range(2, 8):
        pysolar["avg_last_week"] += pysolar["Glo Mod (Wh/m^2)"].shift(24*i)
    pysolar["avg_last_week"] = pysolar["avg_last_week"] / 7
    
    pysolar["median_week_1"] = pysolar['yesterday']
    for i in range(2, 8):
        pysolar["median_week_" + str(i)] = pysolar["Glo Mod (Wh/m^2)"].shift(24*i)
    last_week = pysolar[['median_week_' + str(i) for i in range(1, 8)]]
    medians = last_week.median(axis=1)
    pysolar.drop(columns=['median_week_' + str(i) for i in range(1, 8)], inplace=True)
    pysolar['last_week_median'] = medians
    
    df = weather.merge(pysolar, left_index=True, right_index=True)
    df.to_csv('./data/' + loc_name + '_merged.csv')

Once saved in merged, we verify that our data is merged correctly with newark!

In [44]:
newark_df = pd.read_csv('./data/merged/newark_merged.csv', index_col='Unnamed: 0')
newark_df.head()

,apparentTemperature,cloudCover,dewPoint,humidity,precipIntensity,precipProbability,pressure,temperature,uvIndex,visibility,windBearing,windSpeed,Glo Mod (Wh/m^2),clear_sky,yesterday,avg_last_week,last_week_median
2006-01-02 00:00:00,36.81,0.82,31.40,0.81,0.0,0.0,1022.75,36.81,0,10.00,246,1.75,0,0.0,0.0,NaN,0.0
2006-01-02 01:00:00,35.79,0.22,30.80,0.82,0.0,0.0,1022.80,35.79,0,10.00,234,1.86,0,0.0,0.0,NaN,0.0
2006-01-02 02:00:00,35.67,0.32,30.43,0.81,0.0,0.0,1023.57,35.67,0,10.00,216,1.55,0,0.0,0.0,NaN,0.0
2006-01-02 03:00:00,35.49,0.50,30.64,0.82,0.0,0.0,1023.57,35.49,0,9.74,225,0.81,0,0.0,0.0,NaN,0.0
2006-01-02 04:00:00,35.66,0.88,31.25,0.84,0.0,0.0,1023.31,35.66,0,9.68,216,0.63,0,0.0,0.0,NaN,0.0

## Merged Dataframe for Question 2

The approach with this question is not tradional in the sense that it does not use a large merged dataset. This question instead has 11 different solar dataframes each representing a different station and creates a concatenated dataframe of data from a given timestamp. So our data we fit our model with changes at runtime depending on our specified timestamp.

We did this instead of a large dataframe with everything as that data would most likely not fit in memory on datahub and our dataframes were all indexed by the same timestamps which would conflict if we tried to stack them.

We only need to collect solar irradiance data (```'Glo Mod (Wh/m^2)'```) as we will use a spatial model to try to predict solar irradiance and are not relying on physical features such as weather or temporal conditions. We also include names in order to merge with our station data.

In [55]:
bridgeport_df = pd.read_csv('data/solar_filtered/bridgeport_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
jfk_df =pd.read_csv('data/solar_filtered/jfk_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
laguardia_df = pd.read_csv('data/solar_filtered/laguardia_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
newark_df = pd.read_csv('data/solar_filtered/newark_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
li_macarthur_df = pd.read_csv('data/solar_filtered/li_macarthur_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
p_duchess_df = pd.read_csv('data/solar_filtered/p_duchess_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
stewart_df =pd.read_csv('data/solar_filtered/stewart_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
white_plains_df = pd.read_csv('data/solar_filtered/white_plains_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
republic_df = pd.read_csv('data/solar_filtered/republic_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
caldwell_df = pd.read_csv('data/solar_filtered/caldwell_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
danbury_df = pd.read_csv('data/solar_filtered/danbury_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]

bridgeport_df['name'] = "Bridgeport"
jfk_df['name'] = "JFK"
laguardia_df['name'] = "LAG"
newark_df['name'] = "EWR"
li_macarthur_df['name'] = "Macarthur"
p_duchess_df['name'] = "p_duchess"
stewart_df['name'] = "stewart"
white_plains_df['name'] = "white_plains"
republic_df['name'] = "republic"
caldwell_df['name'] = "caldwell"
danbury_df['name'] = "danbury"

We additonally pull in stations data that is metadata from the NREL solar data sources that includes lats and longs that we merge with our dataframes.

In [56]:
stations = pd.read_csv("stations.csv").drop(columns=["id", "altitude (m)"])
stations

            name     lat     lon
0      Macarthur  40.783 -73.100
1            EWR  40.717 -74.183
2            JFK  40.650 -73.800
3            LAG  40.783 -70.883
4     Bridgeport  41.183 -73.150
5      p_duchess  41.633 -73.883
6        stewart  41.500 -74.100
7   white_plains  41.067 -73.717
8       republic  40.717 -73.417
9       caldwell  40.883 -74.283
10       danbury  41.240 -73.280
11   stat_of_lib  40.690 -74.060

Let's set an example timestamp to ensure our merged data looks good!

In [57]:
ts = "2008-06-02 10:00:00"

In [58]:
all_data = pd.DataFrame()
all_data = pd.concat([all_data, stations.merge(bridgeport_df[bridgeport_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(jfk_df[jfk_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(laguardia_df[laguardia_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(newark_df[newark_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(li_macarthur_df[li_macarthur_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(p_duchess_df[p_duchess_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(stewart_df[stewart_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(white_plains_df[white_plains_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(republic_df[republic_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(caldwell_df[caldwell_df.index == ts], on="name")]).drop(columns="name")
all_data = pd.concat([all_data, stations.merge(danbury_df[danbury_df.index == ts], on="name")]).drop(columns="name")
all_data

   Glo Mod (Wh/m^2)     lat     lon
0               802  41.183 -73.150
0               788  40.650 -73.800
0               777  40.783 -70.883
0               793  40.717 -74.183
0               803  40.783 -73.100
0               793  41.633 -73.883
0               793  41.500 -74.100
0               799  41.067 -73.717
0               795  40.717 -73.417
0               795  40.883 -74.283
0               800  41.240 -73.280

For June 2nd, 2008 at 10am, these are the measured solar values at the 11 different stations that we then can plug into our spatial model.

## Data Summary and Exploratory Data Analysis (10 points)

In this section you should provide a tour through some of the basic trends and patterns in your data.  This includes providing initial plots to summarize the data, such as box plots, histograms, trends over time, scatter plots relating one variable or another.  

[Chapter 6](https://www.textbook.ds100.org/ch/06/viz_intro.html) of the DS100 textbook might be helpful for providing ideas for visualizations that describe your data.

## Forecasting and Prediction Modeling (25 points)

This section is where the rubber meets the road.  In it you must:
1. Explore at least 3 prediction modeling approaches, ranging from the simple (e.g. linear regression, KNN) to the complex (e.g. SVM, random forests, Lasso).  
2. Motivate all your modeling decisions.  This includes parameter choices (e.g., how many folds in k-fold cross validation, what time window you use for averaging your data) as well as model form (e.g., If you use regression trees, why?  If you include nonlinear features in a regression model, why?). 
1. Carefully describe your cross validation and model selection process. 
3. Evaluate your models' performance.  How much total error is there?  Where do you see bias?  Where do you see variance? 
4. Very carefully document your workflow.  We will be reading a lot of projects, so we need you to explain each basic step in your analysis.  
5. Seek opportunities to compartmentalize the details of the workflow into functions.

## Interpretation and Conclusions (20 points)
In this section you must relate your modeling and forecasting results to your original research question.  You must 
1. Put your numeric or TRUE/FALSE answers into context.  What do the answers mean? What advice would you give a decision maker on the basis of your results?  Why should the reader care about your results?
2. Discuss caveats and / or reasons your results might be flawed.  No model is perfect, and understanding a model's imperfections is extremely important for the purpose of knowing how to interpret your results.  Often, we know the model output is wrong but we can assign a direction for its bias.  This helps to understand whether or not your answers are conservative.  

Shoot for 500-1000 words for this section.