In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

In [32]:
bridgeport_df = pd.read_csv('data/solar_filtered/bridgeport_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
jfk_df =pd.read_csv('data/solar_filtered/jfk_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
laguardia_df = pd.read_csv('data/solar_filtered/laguardia_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
newark_df = pd.read_csv('data/solar_filtered/newark_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
li_macarthur_df = pd.read_csv('data/solar_filtered/li_macarthur_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
p_duchess_df = pd.read_csv('data/solar_filtered/p_duchess_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
stewart_df =pd.read_csv('data/solar_filtered/stewart_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
white_plains_df = pd.read_csv('data/solar_filtered/white_plains_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
republic_df = pd.read_csv('data/solar_filtered/republic_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
caldwell_df = pd.read_csv('data/solar_filtered/caldwell_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
danbury_df = pd.read_csv('data/solar_filtered/danbury_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]

In [61]:
bridgeport_df['name'] = "Bridgeport"
jfk_df['name'] = "JFK"
laguardia_df['name'] = "LAG"
newark_df['name'] = "EWR"
li_macarthur_df['name'] = "Macarthur"
p_duchess_df['name'] = "p_duchess"
stewart_df['name'] = "stewart"
white_plains_df['name'] = "white_plains"
republic_df['name'] = "republic"
caldwell_df['name'] = "caldwell"
danbury_df['name'] = "danbury"

In [62]:
danbury_df[danbury_df.index == "2008-06-02 10:00:00"]

                     Glo Mod (Wh/m^2)     name
2008-06-02 10:00:00               800  danbury

Include lat and lons with the solar irradiance values of the 11 neighbors we are using to predict the solar irradiance values for the empire state building hourly.

In [38]:
stations = pd.read_csv("stations.csv").drop(columns=["id", "altitude (m)"])
stations

                     name      lat      lon
0               Macarthur  40.7830 -73.1000
1                     EWR  40.7170 -74.1830
2                     JFK  40.6500 -73.8000
3                     LAG  40.7830 -70.8830
4              Bridgeport  41.1830 -73.1500
5               p_duchess  41.6330 -73.8830
6                 stewart  41.5000 -74.1000
7            white_plains  41.0670 -73.7170
8                republic  40.7170 -73.4170
9                caldwell  40.8830 -74.2830
10                danbury  41.2400 -73.2800
11  empire_state_building  40.7484  73.9857

In [70]:
X = pd.DataFrame()
X = pd.concat([X, stations.merge(bridgeport_df[bridgeport_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(jfk_df[jfk_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(laguardia_df[laguardia_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(newark_df[newark_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(li_macarthur_df[li_macarthur_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(p_duchess_df[p_duchess_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(stewart_df[stewart_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(white_plains_df[white_plains_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(republic_df[republic_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(caldwell_df[caldwell_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X = pd.concat([X, stations.merge(danbury_df[danbury_df.index == "2008-06-02 10:00:00"], on="name")]).drop(columns="name")
X

   Glo Mod (Wh/m^2)     lat     lon
0               802  41.183 -73.150
0               788  40.650 -73.800
0               777  40.783 -70.883
0               793  40.717 -74.183
0               803  40.783 -73.100
0               793  41.633 -73.883
0               793  41.500 -74.100
0               799  41.067 -73.717
0               795  40.717 -73.417
0               795  40.883 -74.283
0               800  41.240 -73.280

In [ ]:
neigh = KNeighborsRegressor(n_neighbors=11)
neigh.fit(X, y)