In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

In [18]:
bridgeport_df = pd.read_csv('data/solar_filtered/bridgeport_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
jfk_df =pd.read_csv('data/solar_filtered/jfk_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
laguardia_df = pd.read_csv('data/solar_filtered/laguardia_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
newark_df = pd.read_csv('data/solar_filtered/newark_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]
li_macarthur_df = pd.read_csv('data/solar_filtered/li_macarthur_solar_filtered.csv', index_col='Unnamed: 0').loc[:, ['Glo Mod (Wh/m^2)']]

In [19]:
p_duchess_df = pd.read_csv('data/solar_filtered/p_duchess_filtered.csv', index_col='Unnamed: 0')
stewart_df =pd.read_csv('data/solar_filtered/stewart_filtered.csv', index_col='Unnamed: 0')
white_plains_df = pd.read_csv('data/solar_filtered/white_plains_filtered.csv', index_col='Unnamed: 0')
republic_df = pd.read_csv('data/solar_filtered/republic_filtered.csv', index_col='Unnamed: 0')
caldwell_df = pd.read_csv('data/solar_filtered/caldwell_filtered.csv', index_col='Unnamed: 0')
danbury_df = pd.read_csv('data/solar_filtered/danbury_filtered.csv', index_col='Unnamed: 0')

In [20]:
bridgeport_df.columns

Index(['Glo Mod (Wh/m^2)'], dtype='object')

Include lat and lons with the solar irradiance values of the 5 neighbors we are using to predict the solar irradiance values of the 6 class ii sites.

In [31]:
stations = pd.read_csv("stations.csv").drop(columns=["id", "altitude (m)"])
stations

                     name      lat      lon
0               Macarthur  40.7830 -73.1000
1                     EWR  40.7170 -74.1830
2                     JFK  40.6500 -73.8000
3                     LAG  40.7830 -70.8830
4              Bridgeport  41.1830 -73.1500
5               p_duchess  41.6330 -73.8830
6                 stewart  41.5000 -74.1000
7            white_plains  41.0670 -73.7170
8                republic  40.7170 -73.4170
9                caldwell  40.8830 -74.2830
10                danbury  41.2400 -73.2800
11  empire_state_building  40.7484  73.9857