In [12]:
import pandas as pd
import numpy as np
import sys, os

# Pull in Observed Solar Radiation Data

In [13]:
def get_df(location_id):
    df = pd.DataFrame()
    for year in range(1991, 2011):
        year_df = pd.read_csv("data/NSRDB_StationData_19910101_20101231_" + str(location_id) +"/NSRDB_StationData_" + str(year) +"0101_" + str(year) +"1231_" + str(location_id) +".csv")
        df = pd.concat([df, year_df])
    return df

In [14]:
newark_df = get_df(725020)
laguardia_df = get_df(725030)
li_macarthur_df = get_df(725035)
bridgeport_df = get_df(725040)
jfk_df = get_df(744860)

In [15]:
# Number of rows is years * days * hours + leap_years * hours

assert newark_df.shape == (20*365*24 + 5*24, 49)
assert laguardia_df.shape == (20*365*24 + 5*24, 49)
assert li_macarthur_df.shape == (20*365*24 + 5*24, 49)
assert bridgeport_df.shape == (20*365*24 + 5*24, 49)
assert jfk_df.shape == (20*365*24 + 5*24, 49)

In [17]:
newark_df.head(24)

,YYYY-MM-DD,HH:MM (LST),Zenith (deg),Azimuth (deg),ETR (Wh/m^2),ETRN (Wh/m^2),Glo Mod (Wh/m^2),Glo Mod Unc (%),Glo Mod Source,Dir Mod (Wh/m^2),...,Ceil Hgt (m),Ceil Hgt Flg,Liq Precip Depth (mm),Liq Precip Depth Flg,Liq Precip Quantity (hours),Liq Precip Quantity Flg,Precip Wat (cm),Precip Wat Flg,AOD (unitless),AOD Flg
0,1991-01-01,1:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.2,1,0.088,1
1,1991-01-01,2:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.1,1,0.088,1
2,1991-01-01,3:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.1,1,0.088,1
3,1991-01-01,4:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.1,1,0.088,1
4,1991-01-01,5:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.0,1,0.088,1
5,1991-01-01,6:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.0,1,0.088,1
6,1991-01-01,7:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.0,1,0.088,1
7,1991-01-01,8:00,87.3,123.6,42,884,13,10,1,116,...,22000,5,0,5,1,99,1.0,1,0.069,1
8,1991-01-01,9:00,80.2,132.2,240,1415,123,10,1,510,...,22000,5,0,5,1,99,1.0,1,0.069,1
9,1991-01-01,10:00,72.7,144.1,421,1415,260,10,1,704,...,22000,5,0,5,1,99,1.0,1,0.069,1
10,1991-01-01,11:00,67.2,157.5,549,1415,368,10,1,790,...,22000,5,0,5,1,99,1.0,1,0.069,1
11,1991-01-01,12:00,64.2,172.3,616,1415,425,10,1,824,...,22000,5,0,5,1,99,1.0,1,0.069,1
12,1991-01-01,13:00,64.2,187.6,616,1415,426,10,1,824,...,22000,5,0,5,1,99,1.0,1,0.069,1
13,1991-01-01,14:00,67.1,202.4,550,1415,368,10,1,790,...,22000,5,0,5,1,99,1.0,1,0.069,1
14,1991-01-01,15:00,72.6,215.8,422,1415,261,10,1,705,...,22000,5,0,5,1,99,1.0,1,0.069,1
15,1991-01-01,16:00,80.1,227.7,242,1415,124,10,1,513,...,22000,5,0,5,1,99,1.0,1,0.069,1
16,1991-01-01,17:00,87.3,236.4,43,908,14,10,1,120,...,22000,5,0,5,1,99,1.0,1,0.069,1
17,1991-01-01,18:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.0,1,0.069,1
18,1991-01-01,19:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.0,1,0.069,1
19,1991-01-01,20:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.0,1,0.069,1
20,1991-01-01,21:00,99.0,-99.0,0,0,0,0,1,0,...,22000,5,0,5,1,99,1.1,1,0.069,1
21,1991-01-01,22:00,99.0,-99.0,0,0,0,0,1,0,...,1097,5,0,5,1,99,1.1,1,0.069,1
22,1991-01-01,23:00,99.0,-99.0,0,0,0,0,1,0,...,1067,5,0,5,1,99,1.1,1,0.069,1
23,1991-01-01,24:00,99.0,-99.0,0,0,0,0,1,0,...,1280,5,0,5,1,99,1.1,1,0.069,1

In [19]:
# Only run this if these csvs are not already created.

# newark_df.to_csv('data/newark.csv')
# laguardia_df.to_csv('data/laguardia.csv')
# li_macarthur_df.to_csv('data/li_macarthur.csv')
# bridgeport_df.to_csv('data/bridgeport.csv')
# jfk_df.to_csv('data/jfk.csv')